@{
    ViewData["Title"] = "Welcome to landify";
}

<div class="text-center" style="width:50%;padding:40px">
    <div style="display:flex;flex-direction:column;gap: 100px;">
        <div style="display:flex;flex-direction:column;align-items:flex-start">
            <h3 style ="font-family: Inter">About</h3>
            <p style="text-align:justify;font-family: Inter;color:#4B5563">
                Landify is a landing page UI kit for Figma, created to help
                designers design the landing page quickly without having to
                spend much time. It is crafted with a vision to support any 
                web project and thereby creating a block system that helps with all
                the use cases. The kit contains 170+ blocks
                and 500+ components. It's fully customisable, 
                well-organised layers, text, color and effect styles.
            </p>
            <div style="display:flex;gap:16px;color:#7C3AED">
                <a>aravind.design</a>
                <a>landify.design</a>
            </div>

        </div>
        <div style="display:flex;flex-direction:column;align-items:flex-start;border:2px solid #7C3AED;padding:12px">
            <h3 style="font-family: Inter">Share your feedback</h3>
            <p style="text-align:justify;font-family: Inter;color:#4B5563">
                We hear you. We have a feedback board where we hear your feedback and suggestions to improve Landify. If you have any suggestions or feedback or ideas to improve the Landify UI Kit, please do share you thoughts.
            </p>
            <div style="display:flex;gap:16px;color:#7C3AED;text-decoration:underline">
                <a style="border-right:1px solid black">Give Feedback</a>
                <a style="border-right:1px solid black">Roadmap</a>
                <a>Changelog</a>
            </div>
            <img style="width: -webkit-fill-available" src="/images/Preview.png" />

        </div>
        <div style="display:flex;flex-direction:column;align-items:flex-start;border:2px solid #7C3AED;padding:12px">
            <h3 style="font-family: Inter">Community Showcase</h3>
            <p style="text-align:justify;font-family: Inter;color:#4B5563">
                The Landify community is always building amazing websites. Discover the sites made using Landify across the web, find inspiration.
            </p>
            <div style="display:flex;gap:16px">
                Want to get featured <a style="color:#7C3AED">Submit your work</a>
            </div>
            <img style="width: -webkit-fill-available" src="/images/Preview (1).png" />
        </div>
    </div>
</div>
