@{
    ViewData["Title"] = "License agreement";
}
<h1>@ViewData["Title"]</h1>


<div class="text-center" style="width:50%;padding:40px">
    <div style="display:flex;flex-direction:column;gap: 100px;">
        <div style="display:flex;flex-direction:column;align-items:flex-start">
            <h3 style="font-family: Inter">Licence agreement</h3>
            <p style="text-align:justify;font-family: Inter;color:#4B5563">
                In short: You are allowed to use Landify UI Kit in unlimited projects. This includes commercial projects, client work or personal project. You are NOT allowed to resell the kit, use them in a product that you're selling, publish them online, or distribute them for free.
            </p>
            <p>By downloading Landify UI Kit, you consent to the terms and conditions of this license on behalf of yourself and the company on whose behalf you will use this kit provided under this license.</p>

        </div>
        <div style="display:flex;flex-direction:column;align-items:flex-start;border:2px solid #7C3AED;padding:12px">
            <h3 style="font-family: Inter">You are allowed to</h3>
            <ul>
                <li>use this kit for unlimited projects.</li>
                <li> use this kit for personal or commerical projetcs.</li>
                <li>publish the website design with Landify UI kit on social media without attribution (though attribution is appreciated! 💜)</li>
           </ul>

        </div>
        <div style="display:flex;flex-direction:column;align-items:flex-start;border:2px solid #7C3AED;padding:12px">
            <h3 style="font-family: Inter">You are not allowed to</h3>
            <p style="text-align:justify;font-family: Inter;color:#4B5563">
                The Landify community is always building amazing websites. Discover the sites made using Landify across the web, find inspiration.
            </p>
            <div style="display:flex;gap:16px">
                Want to get featured <a style="color:#7C3AED">Submit your work</a>
            </div>
            <img style="width: -webkit-fill-available" src="/images/Preview (1).png" />
        </div>
    </div>
</div>
