@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    @{
        int num = 10;
        for(int i = 0; i < num; i++)
        {
            <p>Number @i</p>
        }
    }
    
     
</div>
